<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822725629475-9c1n6gfteo23b01800vdt5g6fvrived0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822725629475-9c1n6gfteo23b01800vdt5g6fvrived0</string>
	<key>API_KEY</key>
	<string>AIzaSyABQqpUXf_hj86BUIyck7OP0fNYvVKvI1M</string>
	<key>GCM_SENDER_ID</key>
	<string>822725629475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.helpdesk</string>
	<key>PROJECT_ID</key>
	<string>helpdesk-867dc</string>
	<key>STORAGE_BUCKET</key>
	<string>helpdesk-867dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822725629475:ios:a1520a4c0928cd632ac396</string>
</dict>
</plist>